<div *ngIf="auth.user | async as user; else login">
  <script>
    function myFunction() {
      document.getElementById("btn1").style.display = "none";
    }
  </script>

  <app-inspiration></app-inspiration>

  <div class="container" style="margin-bottom: 5vh;">
    <h2>Welcome, friend! How are you feeling?</h2>
  </div>

  <div class="container pb-5">
    <div class="row" id="buttonbox" [hidden]="hide">
      <div class="col">
        <button
          (click)="hideDiv0()"
          class="btnfade"
          style="background-color: #ff0000;"
        ></button>
      </div>
      <div class="col">
        <button
          (click)="hideDiv1()"
          class="btnfade"
          style="background-color: #ff6600;"
        ></button>
      </div>
      <div class="col">
        <button
          (click)="hideDiv2()"
          class="btnfade"
          style="background-color: #ffc400;"
        ></button>
      </div>
      <div class="col">
        <button
          (click)="hideDiv3()"
          class="btnfade"
          style="background-color: #f7fa4b;"
        ></button>
      </div>
      <div class="col">
        <button
          (click)="hideDiv4()"
          class="btnfade"
          style="background-color: #2cb103;"
        ></button>
      </div>
      <div class="col">
        <button
          (click)="hideDiv5()"
          class="btnfade"
          style="background-color: #15037a;"
        ></button>
      </div>
    </div>
    <div class="jumbotron text-center" [hidden]="!hide">
      <h2>{{ display_message }}</h2>
    </div>
  </div>
</div>

<ng-template #login>
  <div class="container-fluid">
    <button
      type="button"
      class="btn btn-dark rounded-0 shadow-sm p-3"
      (click)="auth.googleLogin()"
    >
      Sign in with Google
    </button>
  </div>
</ng-template>
