<div class="container-fluid">
  <h1 class = "display-1 text-center"><strong>Mental Stabilizer</strong></h1>
  <p class = "text-center">designed by Team StepB4Calc</p>
  <p><img src ="../assets/example.jpg" class = "mx-auto d-block" width ="480" height = "320"></p>
  <p><button type="button" class="btn btn-dark">This is a button</button></p>
  <div class="row">
    <div class="col" style="background-color:lavender;">.col</div>
    <div class="col" style="background-color:orange;">.col</div>
    <div class="col" style="background-color:lavender;">.col</div>
    <div class="col" style="background-color:orange;">.col</div>
    <div class="col" style="background-color:lavender;">
      <button type="button" class="btn btn-dark">This is a button</button>
    </div>
    <div class="col" style="background-color:orange;">.col</div>
    <div class="col" style="background-color:lavender;">.col</div>
    <div class="col" style="background-color:orange;">.col</div>
    <div class="col" style="background-color:lavender;">.col</div>
  </div>

  <div class="container">
    <h2>Team information</h2>           
    <table class="table">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Achu</td>
          <td>Mukundan</td>
          <td>???</td>
        </tr>
        <tr>
          <td>Annie</td>
          <td>Gao</td>
          <td>???</td>
        </tr>
        <tr>
          <td>Leo</td>
          <td>Zheng</td>
          <td>???</td>
        </tr>
        <tr>
          <td>David</td>
          <td>Song</td>
          <td>david990724@gmail.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
