<audio autoplay>
    <source [src]="playpath" type="audio/mpeg">
</audio>
<div class="container-fluid">
    <table class="table">
        <tr>
            <th><button class="screenbtn" (click)=changetrack() style="background-color: #ff0000;"></button></th>
            <th><button class="screenbtn" (click)=changetrack() style="background-color: #ff6600;"></button></th>
            <th><button class="screenbtn" (click)=changetrack() style="background-color: #ffc400;"></button></th>
        </tr>

        <tr>
            <th><button class="screenbtn" (click)=changetrack() style="background-color: #ffc400;">Relax Yourself</button></th>
            <th><button class="screenbtn" (click)=changetrack() style="background-color: #f7fa4b;">Clear the Mind</button></th>
            <th><button class="screenbtn" (click)=changetrack() style="background-color: #2cb103;">Meditate Along</button></th>    
        </tr>

        <tr>
            <th><button class="screenbtn" (click)=changetrack() style="background-color: #ff0000;"></button></th>
            <th><button class="screenbtn" (click)=changetrack() style="background-color: #ff6600;"></button></th>
            <th><button class="screenbtn" (click)=changetrack() style="background-color: #ffc400;"></button></th>
        </tr>
    </table>
        
</div>