<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <a class="navbar-brand" href="#"
    ><img src="../../assets/StepB4CalcLogo.png" class="img-responsive"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    *ngIf="auth.user | async as user"
    class="collapse navbar-collapse"
    id="navbarNav"
  >
    <ul class="navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="home"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="journals"
          >Journals <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="calm"
          >Calm <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="team"
          >Team <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <div class="ml-auto">
      <button
        class="btn btn-outline-secondary pull-right"
        (click)="auth.signOut()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
