<div class="container">
    <table class="table table-unbordered">
        <tr>
            <th class="text-center" style="padding-top:2vh"><div class="container"><input type="date"></div></th>
            <th><div class="text-center" style="padding-top: 1vh;">
                <a routerLink="../journals" ><button id="new_entry_btn" class="btn btn-success">Save</button></a>
                <a routerLink="../journals" ><button id="new_entry_btn" class="btn btn-danger">Delete</button></a>
            </div></th>
        </tr>

        <tr>
            <th></th>
            <th></th>
        </tr>
    </table>

    <div class="form-group">
        <textarea class="form-control" rows="18" id="new_entry"></textarea>
    </div>
</div>