<div class="container">
    <table class="table table-unbordered">
        <tr>
            <th class="text-center" style="padding-top:2vh"><div class="container"><h2>Remember Your Feelings for the Future</h2></div></th>
            <th><div class="text-center" style="padding-top: 1vh;"><a routerLink="../journal-editor" ><button id="new_entry_btn" class="btn btn-success">New Entry+</button></a></div></th>
        </tr>

        <tr>
            <th class="text-left" style="padding-top:2vh">
                <div class="container">
                    <h4>01/26/20</h4>
                    <p>Today was really fun. I saw my friends eat spicy chicken noodles.</p>
                </div>
            </th>
            <th class="text-right" style="padding-top:3vh">
                <div class="container">
                    <button class="btn btn-secondary">Delete</button>
                    <button class="btn btn-info">Edit</button>
                </div>
            </th>
        </tr>

        <tr>
            <th class="text-left" style="padding-top:2vh">
                <div class="container">
                    <h4>01/25/20</h4>
                    <p>Today was fun too but I wish I got more sleep.</p>
                </div>
            </th>
            <th class="text-right" style="padding-top:3vh">
                <div class="container">
                    <button class="btn btn-secondary">Delete</button>
                    <button class="btn btn-info">Edit</button>
                </div>
            </th>
        </tr>

        <tr>
            <th></th>
            <th></th>
        </tr>
    </table>
</div>